# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
env/
ENV/

# Databases
*.db
*.sqlite
*.sqlite3
dev.db
medishelf.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Environment variables
.env
!.env.example

# IDE & OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
